// MCE scss source file

//
// Imports
//
@import "custom";
@import "../../../../twenty-em/assets/src/scss/theme";

//
// Scaffolding
//
*:hover{
	transition: 250ms;
}
body{
	&:not(.home){
		#main,
		.postcard{
			@extend .mt-7;
		}
	}
	cursor: default;
}
.btn{
	font-family: $headings-font-family;
}
#main{
	@extend .my-0;
}

//
// Navigation
//
#top-menu{
	.admin-bar &{
		top: 30px;
	}
	@extend .fixed-top;
	.navbar{
		*{
			font-family: $headings-font-family;
		}
		&-nav{
			@extend .ml-auto;
		}
	}
/* 	#nav-searchform{
		@extend .w-100;
		padding: .12rem 0;
		position: relative;
		.input-group{
			@extend .pr-4;
			#nbs{
				@extend .bg-transparent;
				@extend .border-top-0;
				@extend .border-left-0;
				@extend .border-right-0;
				@extend .border-bottom;
				@extend .border-secondary;
				@extend .rounded-0;
				@extend .text-light;
			}
		}
		.actions{
			position: absolute;
			right: 0;
			top: 0;
			@extend .py-2;
			a{
				@extend .text-secondary;
				&:hover{
					@extend .text-light;
				}
			}
		}
	} */
}

//
// Header
//
#static-header{
	@extend .text-center;
	@extend .d-flex;
	@extend .align-items-center;
	background:{
		attachment: fixed;
		blend-mode: multiply;
	}
	min-height: 100vh;
	.hero{
		&-heading{
			@extend .display-4;
		}
		&-body{
			p{
				@extend .h2;
			}
		}
		&-footer{
			@extend .mt-7;
			.btn{
				@extend .btn-outline-light;
				@extend .btn-lg;
			}
		}
	}
}

//
// Front Page
//
#featured-widget-area{
	@extend .text-center;
	@extend .my-5;
}
#front-page-widget{
	&-one{
		@extend .bg-transparent;
		p{
			@extend .lead;
		}
	}
}
.home{
	.testimonial,
	.route{
		background-color: $gray-200;
	}
}
.hero-section{
	min-height: 100vh;
	background:{
		attachment: fixed;
		size: cover;
		repeat: no-repeat;
		position: center;
		blend-mode: multiply;
	}
	@extend .bg-secondary;
}

//
// Singular
//
.hero-header{
	background:{
		attachment: fixed;
		size: cover;
		repeat: no-repeat;
		position: center;
		blend-mode: multiply;
	}
	@extend .bg-secondary;
	&.bg-full{
		min-height: 75vh;
	}
	&.bg-empty{
		min-height: 50vh;
	}
}

//
// Users
//
.avatar{
	@extend .rounded-circle;
	@extend .border;
}

//
// Testimonial
//
#testimonial-archive{
	.testimonial{
		@extend .mt-6;
		&-image{
			margin-top: -25%;
			@extend .mx-auto;
		}
	}
}

//
// Footer
//
#colophon{
	@extend .bg-light;
	@extend .py-7;
}
#site-info{
	background-color: $gray-200;
}

//
// ScrollTo
//
#gototop{
	display: none;
	top: auto;
	left: auto;
	right: 1rem;
	bottom: 1rem;
	background-color: rgba($black,.3);
	@extend .position-fixed;
	@extend .text-white-50;
	&:hover,
	&:focus{
		background-color: rgba( $primary, .7);
	}
}
